#page-orphanages {
  background: #fff;
	width: 100vw;
	height: 100vh;

	position: relative;

	display:flex;
}

#page-orphanages .leaflet-container {
	z-index: 0;
}

#page-orphanages aside {
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
	width: 350px;
	height: 100vh;
	padding: 80px;

	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}

#page-orphanages aside h2 {
	font-size: 48px;
	font-weight: 800;
	line-height: 52px;
	margin-top: 64px;
}

#page-orphanages aside p {
	margin-top: 25px;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
}

#page-orphanages aside footer {
	display: flex;
	flex-flow: column wrap;
}

#page-orphanages aside footer strong {
	font-weight: 900;
	font-size: 21px;
	line-height: 28px;
}

#page-orphanages aside footer span {
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
}

#page-orphanages .create-orphanage {
	position: absolute;
	width: 64px;
	height: 64px;
	bottom: 40px;
	right: 40px;
	background:#15C3D6;
	color: #fff;
	border-radius: 20px;

	transition: all 0.3s ease-in;

	display:flex;
	align-items: center;
	justify-content: center;

	z-index: 1;
}

#page-orphanages .create-orphanage:hover {
	background:#17D6EB;
	color: #fff;
}

.map-poup .leaflet-popup-content-wrapper {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 10px rgba(2,2,2, 0.1);
	color: #0089A5;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	width: 244px;
	height: 64px;
	padding: 10px;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.map-poup .leaflet-popup-content-wrapper .button-popup {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 20px;
	top: 13px;

	background: #15C3D6;
	box-shadow: 10px 20px 40px rgba(23, 142, 166, 0.40);
	border-radius: 12px;

	display:flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.map-poup .leaflet-popup-tip {
	display: none;
}
